<div class="socials">
{%- if site.social.github -%}
<a rel="me" href="https://github.com/{{ site.social.github }}" itemprop="sameAs" target="_blank">github</a>
{%- endif -%}
{%- if site.social.mastodon -%}
<a rel="me" href="https://{{ site.social.mastodon }}" itemprop="sameAs" target="_blank">mastodon</a>
{%- endif -%}
{%- if site.social.bluesky -%}
<a rel="me" href="https://bsky.app/profile/{{ site.social.bluesky }}" itemprop="sameAs" target="_blank">bluesky</a>
{%- endif -%}
{%- if site.social.twitter -%}
<a rel="me" href="https://www.twitter.com/{{ site.social.twitter }}" itemprop="sameAs" target="_blank">twitter</a>
{%- endif -%}
{%- if site.social.linkedin -%}
<a rel="me" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" itemprop="sameAs" target="_blank">linkedin</a>
{%- endif -%}
{%- if site.social.email -%}
<a rel="me" href="mailto:{{ site.social.email | encode_email }}" itemprop="email">email</a>
{%- endif -%}
</div>
